@model IEnumerable<EcoHost.Models.Produto>

@{
    ViewData["Title"] = "Principal";
}

<h1>Estoque</h1>

<p>
    <a class="btn btn-dark" asp-controller="Cliente" asp-action="Principal">Pagina do Cliente</a>
    <a class="btn btn-primary" asp-action="Create">Novo Produto</a>
    <a class="btn btn-primary" asp-controller="FuncionarioCategoria">Categorias</a>
    <a class="btn btn-primary" asp-controller="FuncionarioFornecedor">Fornecedores</a>
    <a class="btn btn-primary" asp-controller="RegistraConta" asp-action="CreateFuncionario">Registrar Usuario</a>
</p>
<table id="tabela" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustoCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCriacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorVenda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustoCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantidade)
            </td>
            <td>
                @item.DataCriacao.ToShortDateString()
            </td>
            <td>
                @item.Categoria.Nome
            </td>
            <td>
                @item.Fornecedor.Nome
            </td>
            <td class="row col-md">
                <a asp-action="Edit" class="btn btn-success m-1" asp-route-id="@item.Id">Alterar</a>
                <a asp-action="Details" class="btn btn-primary m-1" asp-route-id="@item.Id">Detalhes</a>
                <button type="button" class="btn btn-danger m-1" data-toggle="modal" data-target="#DeleteModal-@item.Id">
                    Excluir
                </button>
                <div class="modal fade" id="DeleteModal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="DeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="DeleteModalLabel">Excluir Produto</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Deseja excluir o Produto @item.Nome
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Sim</a>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tabela').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json"
                }
            });
        });
    </script>
}